<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="../Content/MenuStyle.css" rel="stylesheet" />
    <script src="/Scripts/ConnectedMenu.js"></script>
</head>
<body>
    <nav class="navigationBar" role="navigation">
        <div class="navigationBar">
            <ul id="menu">
                <li><a href="HomePage.html">Maze</a></li>
                <li><a href="SinglePlayer.html">Single Player</a></li>
                <li><a href="MultiPlayer.html">Multi Player</a></li>
                <li><a href="Settings.html">Settings</a></li>
                <li><a href="UserRanking.html">User Rankings</a></li>
                <li style="float:right"><a id="logOff" href="">Log Off</a></li>
                <li style="float:right"><a id="usermenu"></a></li>
            </ul>
        </div>
    </nav>
</body>
</html>
