<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
</head>
<body>
    <header>
        <div id="menuBar"></div>

        <script>
            $(document).ready(function () {
                $("#menuBar").load("Menu.html");
                $("#loginForm").load("LoginForm.html");
            });
        </script>
    </header>

    <article style="padding-left:200px; font-family:Verdana">
        <div>
            <h1>Log in</h1>
            <p>Use a local account to log in.</p>
        </div>

        <div id="loginForm" style="font-size:large"></div>
    </article>
</body>
</html>
