<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <form style="font-family:Verdana; padding:50px" action="">
        <table cellspacing="15">
            <tbody>
                <tr>
                    <td>
                        <b>Username: </b>
                    </td>
                    <td>
                        <input type="text" name="username" value="">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Password: </b>
                    </td>
                    <td>
                        <input type="text" name="password">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Login">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    <br />
    <div><a href="">Register as a new user</a></div>
</body>
</html>
