<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <script type="text/javascript">
        var context;
        var cellWidth;
        var cellHeight;
        var maze;
        var pRow;
        var pCol;
        var playerImg;

        (function ($) {
            $.fn.mazeBoard = function (
                mazeData,
                startRow, startCol,
                exitRow, exitCol,
                playerImage,
                exitImage,
                enabled,
                moveFunction
            ) {

                var myCanvas = document.getElementById("mazeCanvas");
                context = myCanvas.getContext("2d");
                var rows = mazeData.length; var cols = mazeData[0].length;
                cellWidth = myCanvas.width / cols;
                cellHeight = "8"; //myCanvas.height / rows;
                maze = mazeData;
                var x = 0;
                var y = 0;
                pRow = startRow;
                pCol = startCol;

                for (var i = 0; i < rows; i++) {
                    for (var j = 0; j < cols; j++) {
                        if (mazeData[i][j] == 1) {
                            context.fillRect(cellWidth * j, cellHeight * i, cellWidth, cellHeight);
                        }
                    }
                }

                var exit = exitImage;
                context.drawImage(exit, exitCol * cellWidth, exitRow * cellHeight, cellWidth, cellHeight);
                return this;
            };
        })(jQuery);


        //var player = document.getElementById("player");

        //var topPX = startRow * cellHeight + 'px';
        //var leftPX = startCol * cellWidth + 'px';
        //playerImg.style.top = topPX;
        //playerImg.style.left = leftPX;

        function leftArrowPressed() {
            var element = document.getElementById("player");
            element.style.left = parseInt(element.style.left) - 5 + 'px';
        }

        function rightArrowPressed() {
            var element = document.getElementById("player");
            element.style.left = parseInt(element.style.left) + 5 + 'px';

        }

        function upArrowPressed() {
            var element = document.getElementById("player");
            element.style.top = parseInt(element.style.top) - 5 + 'px';
        }

        function downArrowPressed() {
            var element = document.getElementById("player");
            element.style.top = parseInt(element.style.top) + parseInt(cellHeight) + 'px';
        }

        function moveSelection(evt) {
            switch (evt.keyCode) {
                case 37:
                    leftArrowPressed();
                    break;
                case 39:
                    rightArrowPressed();
                    break;
                case 38:
                    upArrowPressed();
                    break;
                case 40:
                    downArrowPressed();
                    break;
            }
        };

        function docReady() {

            window.addEventListener('keydown', moveSelection);
        }

    </script>
</head>
<body onload="docReady()" onkeydown="" onkeyup="">
    <canvas style="border-color:purple;" id="mazeCanvas" ></canvas>
    <script>
        $(document).ready(function () {
         
            var mazeData = [[0, 1, 0, 1, 0, 1],
            ['#', 0, 0, 1, 1, 0],
            [0, 1, 0, 0, 0, 0],
            [0, 1, 0, 1, 1, 1],
            [0, 1, 0, 0, 0, 0],
            [1, 1, 0, '*', 1, 0],
            [0, 0, 0, 0, 0, 1]];

            var startRow = 1;
            var startCol = 0;
            var exitRow = 5;
            var exitCol = 3;

            var playerImage = document.getElementById("player");
            var exitImage = document.getElementById("exit");
            var enabled = true;
            var moveFunction = undefined;

            $("#mazeCanvas").mazeBoard(
                mazeData, // the matrix containing the maze cells
                startRow,
                startCol, // initial position of the player
                exitRow,
                exitCol, // the exit position
                playerImage, // player's icon (of type Image)
                exitImage,
                enabled,
                moveFunction
            );

        });
    </script>

    <img id="player" src="/Resources/mario.jpg" style="position:absolute; left:0; top:0;" height="30" width="30">
</body>
   end html
</html>