<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <form style="font-family:Verdana;" action="">
        <table cellspacing="15">
            <tbody>
                <tr>
                    <td>
                        <b>Name:</b>
                    </td>
                    <td>
                        <input type="text" id="mazeName" name="mazeName" value="">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Rows:</b>
                    </td>
                    <td>
                        <input type="text" id="rows" name="rows" value="0">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Cols:</b>
                    </td>
                    <td>
                        <input type="text" id="cols" name="cols" value="0">
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="button" id="btnNewGame" value="Generate" />
        <p id="product" />
    </form>
</body>
</html>
