<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    
    <form style="font-family:Verdana;" action="">
        <table>
            <tbody>
                <tr>
                    <td>
                        <b>Name:</b>
                    </td>
                    <td>
                        <input type="text" name="mazeName" value="">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Rows:</b>
                    </td>
                    <td>
                        <input type="text" name="rows" value="0">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Cols:</b>
                    </td>
                    <td>
                        <input type="text" name="cols" value="0">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Start new game">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>
