<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
</head>
<body>
    <script>
            $(document).ready(function () {
                $("#newGame").load("NewGameForm.html");
            });
    </script>

    <b>Games: </b>
    <select id="gameslist" form="chooseGame"></select>
    <form id="chooseGame" style="font-family:Verdana" action="">
        <input type="submit" value="Join Game">
    </form>

    <br />
    <div id="newGame">Start New Game</div>
</body>
</html>
