<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
    <script src="../Scripts/Register.js"></script>
</head>
<body>
        <div id="menuBar"></div>

    <div style="padding-left:200px; font-family:Verdana">
        <div>
            <h1>Register</h1>
            <p>Create a local account to play On-line.</p>
        </div>

        <table style="font-family:Verdana; padding:50px" cellspacing="15">
            <tbody>
                <tr>
                    <td>
                        <b>Username: </b>
                    </td>
                    <td>
                        <input type="text" name="username" value="">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Password: </b>
                    </td>
                    <td>
                        <input type="text" name="password">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Password Again: </b>
                    </td>
                    <td>
                        <input type="text" name="passwordAgain">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Email Address: </b>
                    </td>
                    <td>
                        <input type="text" name="email">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Register">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
