<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
</head>
<body>
    <header>
        <div id="menuBar"></div>

        <script>
            $(document).ready(function () {
                $("#menuBar").load("Menu.html");
                $("#registerForm").load("RegisterForm.html");
            });
        </script>
    </header>

    <article style="padding-left:200px; font-family:Verdana">
        <div>
            <h1>Register</h1>
            <p>Create a local account to play On-line.</p>
        </div>

        <div id="registerForm" style="font-size:large"></div>
    </article>
</body>
</html>
