<!DOCTYPE html>
<html>
<head>
    <title>Single Player</title>
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="Maze.js"></script>
</head>

<body>
    <div id="menuBar"></div>

    <header>
        <h2 style="font-family:Verdana">Single Player Game</h2><hr />
        <button id="bla" value="solve" onclick="solve()" style="height:30px;"/>
    </header>
    
    <div style="display:inline-block; float:left; font-size:larger">
        <div id="newGameForm"></div>

        <br />
        <b>Search Algo: </b>
        <select id="searchAlgo" form="chooseAlgo">
            <option>BFS</option>
            <option>DFS</option>
        </select>
        <form id="chooseAlgo" style="font-family:Verdana; padding-left:80px;" action="">
            <input type="submit" value="Solve Game">
        </form>
    </div>

    

    <div id="maze" style="float:left; padding:30px" class="col-sm-8 form-horizontal">
        <img id="player" src="/Resources/mario.jpg" style="display:none" />
        <img id="enter" src="/Resources/door.jpg" style="display:none" />
        <img id="exit" src="/Resources/Spiral.jpg" style="display:none" />
        <canvas style="border-color:purple;" id="mazeCanvas" tabindex="1" class="maze-board" width="500" height="500"></canvas>

        
        <script>
            $(document).ready(function () {
                $("#menuBar").load("Menu.html");
                $("#newGameForm").load("NewGameForm.html");

                var mazeData = [[0, 1, 0, 1, 0, 1, 1, 0, 1],
                ['#', 0, 0, 1, 1, 0, 1, 0, 1],
                [0, 1, 0, 0, 0, 0, 1, 0, 1],
                [0, 1, 0, 1, 1, 0, 1, 1, 1],
                [0, 1, 0, 0, 1, 0, 1, 0, 0],
                [0, 1, 0, 1, 1, 0, 0, 1, 1],
                [0, 1, 0, 0, 1, 0, 1, 0, 0],
                [0, 1, 0, 1, 1, 0, 0, 1, 1],
                [0, 1, 0, 0, 1, 0, 1, 0, 0],
                [1, 1, 0, '*', 1, 0, 1, 1, 0],
                [0, 0, 0, 0, 0, 1, 0, 1, 1]];

                var startRow = 1;
                var startCol = 0;
                var exitRow = 9;
                var exitCol = 3;

                var playerImage = document.getElementById("player");
                var exitImage = document.getElementById("exit");
                var enabled = true;
                var moveFunction = undefined;

                
                $("#mazeCanvas").mazeBoard(
                    mazeData, // the matrix containing the maze cells
                    startRow,
                    startCol, // initial position of the player
                    exitRow,
                    exitCol, // the exit position 
                    playerImage, // player's icon (of type Image)
                    exitImage,
                    enabled,
                    moveFunction
                );
            });

            document.addEventListener("keydown", keydown, false);
        </script>
    </div>


</body>
</html>
