<!DOCTYPE html>
<html>
<head>
    <title>Single Player</title>
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="/Scripts/Maze.js"></script>
</head>

<body>
    <div id="menuBar"></div>

    <header style="font-family:Verdana">
        <h2>Single Player Game</h2><hr />
    </header>

    <div style="display:inline-block; float:left; font-size:larger; font-family:Verdana;">
        <table>
            <tr>
                <td>Name: </td>
                <td><input type="text" id="mazeName" /></td>
            </tr>
            <tr>
                <td>Rows: </td>
                <td><input type="text" id="rows" /></td>
            </tr>
            <tr>
                <td>Cols: </td>
                <td><input type="text" id="cols"/></td>
            </tr>
        </table>
        <div></div>
        <input type="button" id="btnNewGame" value="Start new Game" />

        <div style="padding-top:50px">
            <b>Search Algo: </b>
            <select id="solveAlgo">
                <option>BFS</option>
                <option>DFS</option>
            </select>
        </div>
        <div style="padding-left:80px;">
            <input type="button" id="btnSolve" value="Solve Game" />
        </div>
        <p id="winMessage"></p>
    </div>

    <div id="maze" style="float:left; padding:30px" class="col-sm-8 form-horizontal">
        <img id="player" src="/Resources/mario.jpg" style="display:none" />
        <img id="exit" src="/Resources/Spiral.jpg" style="display:none" />
        <canvas style="border:solid; border-color:purple;" id="mazeCanvas" tabindex="1" class="maze-board" width="600" height="600"></canvas>
    </div>

</body>
</html>
