<!DOCTYPE html>
<html>
<head>
    <title>Single Player</title>
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="/Scripts/Maze.js"></script>
    <script src="../Scripts/MenuLoader.js"></script>
</head>

<body>
    <div id="menuBar"></div>

    <header style="font-family:Verdana">
        <h2>0Single Player Game</h2><hr />
        <button id="bla" value="solve" onclick="solve()" style="height:30px;" />
    </header>

    <div style="display:inline-block; float:left; font-size:larger; font-family:Verdana;">
        <p id="product" />
        <table>
            <tr>
                <td>Name: </td>
                <td><input type="text" id="mazeName" value="a" /></td>
            </tr>
            <tr>
                <td>Rows: </td>
                <td><input type="text" id="rows" value="8" /></td>
            </tr>
            <tr>
                <td>Cols: </td>
                <td><input type="text" id="cols" value="7"/></td>
            </tr>
        </table>
        <input type="button" id="btnNewGame" value="Start new Game" />

        <br />
        <b>Search Algo: </b>
        <select id="searchAlgo" form="chooseAlgo">
            <option>BFS</option>
            <option>DFS</option>
        </select>
        <form id="chooseAlgo" style="padding-left:80px;" action="">
            <input type="submit" value="Solve Game">
        </form>
    </div>

    <div id="maze" style="float:left; padding:30px" class="col-sm-8 form-horizontal">
        <img id="player" src="/Resources/mario.jpg" style="display:none" />
        <img id="exit" src="/Resources/Spiral.jpg" style="display:none" />
        <canvas style="border:solid; border-color:purple;" id="mazeCanvas" tabindex="1" class="maze-board" width="800" height="800"></canvas>
    </div>

</body>
</html>
