<!DOCTYPE html>
<html>
<head>
    <title>User Rankings</title>
	<meta charset="utf-8" />
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <script src="../Scripts/bootstrap.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
    <script src="../Scripts/MenuLoader.js"></script>
</head>
<body>
    <div id="menuBar"></div>

    <article style="padding-left:200px; font-family:Verdana">
        <div>
            <h1><b>User Ranking</b></h1>
            <p style="font-size:large;">See where you staged...</p>
        </div>

        <table id="rankingTable" class="table table-striped" style="width:auto; font-size:medium;">
            <tr>
                <th id="rank">Rank</th>
                <th id="username">Username</th>
                <th id="wins">Wins</th>
                <th id="losses">Losses</th>
            </tr>
        </table>

    </article>
</body>
</html>
